body {
  width: auto;
  background-color: rgb(218, 238, 255);
  font-family: 'Abel', sans-serif;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(8, 79, 141);
  height: 8em;
}

nav > ul {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  margin: auto 2em auto 2em;
  letter-spacing: 0.1em;
  color: rgb(174, 230, 20);
  font-size: 1em;
}

nav li:hover {
  cursor: pointer;
  color: rgb(138, 185, 7);
}

#overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'header picture';
  column-gap: 3%;
  margin: 4vh 0 4vh 0;
  min-height: 50vh

  /* padding: 5em 2em 1em 2em; */
}

#overview :nth-child(1) {
  grid-area: header;
}

#overview :nth-child(2) {
  grid-area: picture;
}

#overview > h1 {
  color: rgb(72, 212, 8);
  font-size: 7vw;
  text-align: left;
  margin: auto 0 auto auto;
  width: 90%;
}

#overview img {
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  opacity: 0.9;
  width: 90%;
  margin: auto 0 auto 0;
}

#start-now {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin: auto 0 auto 0;
}

#start-now button {
  background-color: rgb(138, 223, 26);
  border-radius: 2em;
  border: none;
  color: rgb(8, 79, 141);
  width: 14em;
  height: 4em;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
}

#start-now button:hover {
  cursor: pointer;
  background-color: rgb(138, 185, 7);
}

#how-it-works {
  /* padding-bottom: 3em; */
  min-height: 50vh;
}

#how-it-works h1 {
  color: rgb(49, 120, 182);
  font-size: 6em;
  text-align: center;
  letter-spacing: 1px;
  padding: 0.5em 0 0.5em 0;
}

#how-it-works > p {
  text-align: center;
  font-size: 3em;
  color: rgb(85, 158, 223);
  line-height: 12vh;
}

#contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

#contact-us button {
  background-color: rgb(8, 79, 141);
  border-radius: 2em;
  border: none;
  color: rgb(138, 223, 26);
  width: 14em;
  height: 4em;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
}

#contact-us button:hover {
  cursor: pointer;
  background-color: rgb(5, 105, 192);
}

footer {
  border-top: 1px solid rgb(122, 188, 247);
  padding-top: 1em;
  width: 100%;
  margin: 0 auto 1em auto;
  color: rgb(8, 79, 141);
}

.inViewport {
  background-color: rgb(183, 221, 255);
}

@media (max-width: 600px) {
  #overview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'header'
      'picture';

    /* padding-top: 2em; */
    min-height: 50vh;
  }

  #overview > h1 {
    text-align: center;
    margin: auto;
  }

  #overview img {
    margin: auto;
  }

  body {
    font-size: 12px;
  }
}
